<!DOCTYPE html>
<html>
<html lang="en">
<head>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav>
    <div class="nav-wrapper grey">
        <a href="index.html" class="brand-logo">Pagina principal</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <!--<li><a href="http://localhost/Proyecto_Actividades/consultas_res.php">Consultar Responsables</a>-->

        </ul>
    </div>
</nav>




<div class="section white">
    <div class="row container">
        <center>
        <h3 class="header">Proyecto: Ejemplo <br> explicacion breve del proyecto</h3>

            <a href="wip.jpeg"><img src="https://placehold.co/1000x500" ></a>
            <br> Imagen del index expandida, bottom of image contexto de imagen
        </center>

<br><br>

        <h2 class="header">Explicacion sobre el porque del proyecto, cuando lo hice, cual <br> problematica me llevo a hacerlo, y si lo hice solo o en equipo</h2>
        <a href="wip.jpeg"><img src="https://placehold.co/400x600" ></a> <br >
        imagen relacionada (codigo/app)

        <h2 class="header">Explicacion del como fue realizado el proyecto (lenguajes, duracion, retos, proyectos relacionados, aprendizajes)</h2>

        <h2 class="header">Se podrian agregar links a la pagina de "proyectos pequeños" que lleve a algun mini proyecto que se uso para llegar a la finalizacion del principal</h2>


        <a href="wip.jpeg"><img src="https://placehold.co/1200x200" ></a> <br>
            imagen relacionada (interfaz/ codigo importante)

       <h2 class="header">explicacion del final del proyecto, funcionamiento final, usos que se le dieron, y capaz pensamientos</h2>


<center>
                <a href="wip.jpeg"><img src="https://placehold.co/400x500" ></a>
                <a href="wip.jpeg"><img src="https://placehold.co/400x500" ></a>
        <br>
                Proyecto anterior /// proyecto siguiente
    </center>

    </div>
</div>


<div class="parallax-container">
    <div class="parallax"><img src="wip.jpeg"></div>
</div>

<footer class="page-footer grey">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contenido Patita</h5>
                <p class="grey-text text-lighten-4">Contactanos . . . de algun modo?</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/vacioen_elcosmo/">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">

        <div class="container">
            © 2025 PAWICTOR
            <a class="grey-text text-lighten-4 right" href="https://classic.minecraft.net/">Mas Links!</a>
        </div>
    </div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.parallax');
        var instances = M.Parallax.init(elems);
      });
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);}); </script>

<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>

</body>
</html>